body{
    margin: 0;
    font-family: "Segoe UI" , sans-serif;
    height: 100vh;
}

#navbar{
    background: rgb(1, 1, 106);
    height: 100px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

#navbar > h1{
    color: white;
    margin: 0;
    font-size: 65px;
    font-weight: 600;
}

#navbar > img {
    width: 80px;
    height: 80px;
}

#wrapper{
    height: 100%;
    width: 60%;
    overflow-y: auto;
    margin: 0 auto;
    background-color: wheat;
    padding: 10px;
}